<!DOCTYPE html>
<html ng-app="PortfolioWebsite">
  <head>
  	<!-- meta tags and stuff, focus on SEO -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="icon" type="image/png" href="/favicon.png" />

  	<!-- stylesheets -->
  	<!-- <link href='https://fonts.googleapis.com/css?family=Kadwa:400,700' rel='stylesheet' type='text/css'> -->
  	<link href='https://fonts.googleapis.com/css?family=Catamaran:400,700' rel='stylesheet' type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet"> -->
  	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="/static/styles/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  	<link rel="stylesheet" href="/static/styles/font-awesome.min.css">

  	<!-- js dependencies -->
  	<script type="text/javascript" src="/static/scripts/angular.min.js"></script>
  	<script type="text/javascript" src="/static/scripts/angular-route.min.js"></script>
  	<script type="text/javascript" src="/static/scripts/angular-resource.min.js"></script>
  	<script type="text/javascript" src="/static/scripts/ui-bootstrap.min.js"></script>
  	<script type="text/javascript" src="/static/scripts/jquery.min.js"></script>

  	<!-- jquery code -->
  	<script type="text/javascript" src="/static/scripts/homepage.js"></script>
  	<script type="text/javascript" src="/static/scripts/dynamic-image.js"></script>

  	<!-- angular code -->
  	<script src="/app/app.js"></script>
  	<script src="/app/controllers/IndexCtrl.js"></script>
  	<script src="/app/services/resources.js"></script>
  	<script src="/app/directives/leftColumn.js"></script>
  	<script src="/app/directives/collapseNav.js"></script>

  	<!-- google analytics -->
  	<script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-68428821-2', 'auto');
  		ga('send', 'pageview');
  	</script>
  	<title>Dan Jamrozik</title>
  </head>

  <body ng-controller="IndexController as vm">
  	<div class="container-fluid">
  	    <div class="row">

  			<div class="collapse-navbar">
  				<collapse-nav info="vm"></collapse-nav>
  			</div>

  			<div class="left-column-container">
  				<left-column info="vm"></left-column>
  			</div>

  			<div class="main-content-container">
  				<div class="main-page">
  					<div class="main-info">
  						<div class="main-banner">
  							<img src="/static/images/rock_skip.jpg" class="img-circle" />
  						</div>
  						<p class="main-info-first-text banner-text">
  							<strong>Welcome to my page!</strong>
  							I'm a passionate web developer and computer science student
  							currently studying at the University of Illinois, Urbana/Champaign.
  							I've been able to work as a web developer with UIUC, DockSocial, Yahoo,
  							and now Justworks. (check out my Linkedin for more info)
  						</p>
  						<p class="banner-text"> Lastly, I am a huge fan of taking on side projects, so please feel free to contact me about any work. Thanks!</p>
  					</div>

  					<div id="projects">
  						<div class="header">
  							<h3>PROJECTS</h3>
  						</div>

  						<div class="projects-list-short">
								<div class="projects-list-short-item">
										<p class="title">
											<a href="http://datalok.co/dashboard.html?searchQuery=chicago">
												datalok.co
											</a>
										</p>
										<p class="description">
											Datalok is a website which attempts to make trends about social groups 
											(facebook groups, subreddits, instagram pages) more human readable. 
											Built with React on the front-end and AWS Lambda functions 
											which serve as the back-end.  
										</p>
									</div>
                <div class="projects-list-short-item">
                  <p class="title">
                    <a href="https://toptracks.me">
                      TopTracks.me
                    </a>
                  </p>
                  <p class="description">
                    Web app which shows spotify listeners their top tracks
                    and artists.
                    Can show that info for the last 4 weeks, last 6 months, or all of
                    that user's history on Spotify.
                    Built with React on the front-end and hosted with S3. Any server
                    needs are handled with Lambda functions on AWS.
                  </p>
                </div>
  							<div class="projects-list-short-item">
  								<p class="title">
  									<a href="https://www.amazon.com/dp/B06XDWHPT6">
  									  Amazon Alexa Bus Tracking Skill
  								  </a>
  								</p>
  								<p class="description">
  									This Alexa skill is specific to the Champaign Urbana bus system.
  									Helps users by respoding with scheduled buses
  									for the next 20 minutes on a given stop.
  									The code for this is open source and available
  									<a href="https://github.com/djamrozik/Alexa-Bus-Tracker">
  										here
  									</a>
  								</p>
  							</div>
  							<div class="projects-list-short-item">
  								<p class="title">
  									<a href="https://www.docksocial.com">
  										DockSocial
  								  </a>
  								</p>
  								<p class="description">
  									Worked as a mix of a freelancer and a partner on DockSocial. Helped
  									create the web app by using the MEAN stack. This was a project with only
  									a few people, so the exposure to the business side helped.
  								</p>
  							</div>
  							<div class="projects-list-short-item">
  								<p class="title">
  									<a href="http://gifmage.com/reverse.html">
  										Gif Reverser
  								  </a>
  								</p>
  								<p class="description">
  									Simple web app which reverses a gif. The web app takes a gif URL and will
  									return a new gif which is hosted on gifmage.com
  								</p>
  							</div>
  							<div class="projects-list-short-item">
  								<p class="title">
  									<a href="http://gifmage.com/books/">
  									  Programming Book Recommender (WIP)
  								  </a>
  								</p>
  								<p class="description">
  									As someone who likes to read a lot, even for programming, I like to
  									recommend books to others here and there. The site is something I am continually
  									adding to.
  								</p>
  							</div>
  						</div>
  					</div>

  					<div id="contact">
  						<div class="header new-row">
  							<h3>CONTACT</h3>
  							<p class="contact-info">For contact, feel free to send a message below (or send an email directly to <span>danjamrozik@gmail.com</span>). Thanks!</p>
  						</div>

  						<div class="contact-form">
  							<form action="https://formspree.io/danjamrozik@gmail.com" method="POST">
  							    <div class="form-group">
  							        <label for="inputEmail">Your Email Address</label>
  							        <input type="email"
                                ng-model="vm.message.email"
                                class="form-control"
                                id="inputEmail"
                                placeholder="your email"
                                name="email"
                                required
                        />
  							    </div>
  							   	<div class="form-group">
  							        <label for="inputTopic">Message Topic</label>
  							        <input type="text"
                                class="form-control"
                                ng-model="vm.message.topic"
                                id="inputTopic"
                                placeholder="message topic"
                                name="subject"
                        />
  							    </div>
  								<div class="form-group">
  									<label for="textareaMessage">Message</label>
  									<textarea class="form-control"
                                ng-model="vm.message.message"
                                id="textareaMessage"
                                cols="30" rows="5"
                                name="message"
                                required>
                    </textarea>
  								</div>
  								<div class="button-container">
  							    	<button type="submit" class="btn btn-info">Send</button>
  								</div>
  							</form>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </body>
</html>
