html,
body {
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}
#compare {
  margin: auto;
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}
.header-hero {
  height: 60%;
  border-bottom: 1px solid #777;
  text-align: center;
}
.header-hero h1 {
  font-size: 4em;
  font-style: italic;
  margin-bottom: 0;
}
.header-hero h3 {
  font-size: 1.5rem;
  margin-top: 20px;
}
.input-wrapper {
  margin: auto;
  max-width: 600px;
  text-align: center;
}
.input-wrapper .input-box {
  text-align: left;
  padding: 20px 0;
}
.input-wrapper .input-box .panel-row {
  margin-bottom: 15px;
}
.input-wrapper .input-box .panel-row.button-row {
  text-align: center;
}
.input-wrapper .input-box input[type="text"] {
  width: 60px;
}
