html,
body {
  font-family: 'PT Sans', sans-serif;
}
#compare {
  margin: auto;
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}
.input-wrapper {
  margin: auto;
  max-width: 600px;
  text-align: center;
}
.input-wrapper .input-box {
  text-align: left;
  padding: 20px 0;
}
.input-wrapper .input-box .panel-row {
  margin-bottom: 15px;
}
.input-wrapper .input-box .panel-row.button-row {
  text-align: center;
}
.input-wrapper .input-box input[type="text"] {
  width: 60px;
}
