
html, body {
	font-family: 'PT Sans', sans-serif;
	height: 100%;
}

#compare {
	margin: auto;
	display: flex!important;
	justify-content: center;
	padding: 20px 0;
}

.left-column-container {
	height: 100vh;
	background-color: #444;
	color: white;
	text-align: center;
	position: relative;
	padding-right: 0!important;
	padding-left: 0!important;
	max-width: 225px;

	.name {
		margin-top: 20px;
		font-size: 1.7em;
	}

	.name-info {
		color: lightblue;
	}

	.column-links {
		text-align: left;
		margin-top: 40px;

		li {
			padding: 1rem 0 1rem .5rem;
			list-style-type: none;
			margin-left: -1.5rem;
			&:hover {
				background-color: black;
				cursor: pointer;
			}
		}

		a {
			text-decoration: none;
			color: white;
		}
	}

	.icons-container {
		height: 7.5%;
		margin-top: 4rem;
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		justify-content: space-around;
		
		i {
			margin: 1rem;
			color: white;

			&:hover {
				cursor: pointer;
			}
		}
	}

	/*make height the same dynamically*/
	.image-container {
	    display: inline-block;
	    position: relative;
	    width: 50%; //set the width of the image
	    margin-top: 2rem;

	    &:after {
	    	content: '';
	    	display: block;
	    	margin-top: 100%;
	    }

	    .image-left-col {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		   	
		   	.img-circle {
				position: relative;
				width: 100%;
				height: 100%; //width and height are the same here
			}

		}
	}

}

.main-content-container {
	padding-top: 3rem!important;
	padding-left: 4rem!important;
}

.input-wrapper {
	margin: auto;
	max-width: 600px;
	text-align: center;

	.input-box {
		text-align: left;
		padding: 20px 0;

		.panel-row {
			margin-bottom: 15px;
			&.button-row {
				text-align: center;
			}
		}

		input[type="text"] {
			width: 60px;
		}
	}
}

