
<div>

	<div class="image-container">
		<div class="image-left-col">
			<img src="/static/images/self.png" class="img-circle">
		</div>
	</div>

	<p class="name">
		<a class="no-link-style" href="/">Dan Jamrozik</a>
	</p>

	<p class="name-info">Full-stack Developer</p>

	<ul class="column-links">
		<a ng-if="!home_mode" ng-href="/"><li>HOME</li></a>
		<a ng-href="/blog.html"><li>BLOG</li></a>
		<li ng-if="home_mode" ng-click="data.scrollToId('projects')">PROJECTS</li>
		<li ng-if="home_mode" ng-click="data.scrollToId('contact')">CONTACT</li>
		<a href="/#/contact"><li ng-if="blog_mode">CONTACT</li></a>
	</ul>

	<div class="icons-container">
		<a href="https://www.linkedin.com/in/djamrozik"><i class="fa fa-linkedin-square fa-2x"></i></a>
		<a href="https://github.com/djamrozik"><i class="fa fa-github fa-2x"></i></a>
		<a href="http://stackoverflow.com/users/4077191/daniel-jamrozik"><i class="fa fa-stack-overflow fa-2x"></i></a>
		<a href="mailto:danjamrozik@gmail.com"><i class="fa fa-envelope-square fa-2x"></i></a>
	</div>

</div>
