
<div class="blog-content">

    <p>
        This is a sample article with a lot of cool info
        What happens with newlines in the same p
        This should be a lot of lines to see what happens when there's actual text
        This is a sample article with a lot of cool info
        What happens with newlines in the same p
        This should be a lot of lines to see what happens when there's actual text
        This is a sample article with a lot of cool info
        What happens with newlines in the same p
        This should be a lot of lines to see what happens when there's actual text
        This is a sample article with a lot of cool info
        What happens with newlines in the same p
        This should be a lot of lines to see what happens when there's actual text
        This is a sample article with a lot of cool info
        What happens with newlines in the same p
        This should be a lot of lines to see what happens when there's actual text
        This is a sample article with a lot of cool info
        What happens with newlines in the same p
        This should be a lot of lines to see what happens when there's actual text
        This is a sample article with a lot of cool info
        What happens with newlines in the same p
        This should be a lot of lines to see what happens when there's actual text
        This is a sample article with a lot of cool info
        What happens with newlines in the same p
        This should be a lot of lines to see what happens when there's actual text
        This is a sample article with a lot of cool info
        What happens with newlines in the same p
        This should be a lot of lines to see what happens when there's actual text
        This is a sample article with a lot of cool info
        What happens with newlines in the same p
        This should be a lot of lines to see what happens when there's actual text
    </p>

    <p>More content about this really cool article here</p>

</div>