
<div>

    <div class="collapse-navbar-top">
        <span class="navbar-my-name">
        <a href="/" class="no-link-style">Dan Jamrozik</a>
        </span>
        <span class="flex"></span>
        <span class="navbar-expand" id="navbar-expand">
            <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
        </span>
    </div>

    <div class="collapse-navbar-more">
        <ul class="navbar-more-list">
            <a ng-if="!home_mode"  ng-href="/"><li>HOME</li></a>
            <a ng-href="/blog"><li>BLOG</li></a>
            <li ng-if="home_mode" ng-click="data.scrollToId('projects')">PROJECTS</li>
            <li ng-if="home_mode" ng-click="data.scrollToId('contact')">CONTACT</li>
            <a href="/#/contact"><li ng-if="blog_mode">CONTACT</li></a>
        </ul>
    </div>

</div>