<!DOCTYPE html>
<html ng-app="GifProject">
<head>

	<title>Gif Project</title>
	
	<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/content/styles.css">

	<script type="text/javascript" src="/scripts/angular.min.js"></script>
	<script type="text/javascript" src="/scripts/angular-route.min.js"></script>
	<script type="text/javascript" src="/scripts/angular-resource.min.js"></script>

	<script src="/controllers/GifCtrl.js"></script>
	<script src="/directives/gifBox.js"></script>
	<script src="/services/resources.js"></script>
	<script src="/app.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-68428821-1', 'auto');
	  ga('send', 'pageview');
	</script>

</head>
<body ng-controller="GifController as vm">

	<div id="wrapper">

		<div class="navbar">
			<a href="/"><p>gif-project</p></a>
		</div>

		<div class="input-box-container">
			<div class="input-box">
				<form name="form" ng-submit="vm.submitUrl(GifUrl)">
					<p class="input-box-text">Input gif url to reverse</p>
					<input ng-model="GifUrl"></input>
					<button type="submit">Submit URL</button>
					<p ng-if="vm.errorMessage" class="errorMessage">{{vm.errorMessage}}</p>
				</form>
			</div>
		</div>

		<div class="container" gif-box>


		</div>

		<div class="ad-container">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- samplecode.io footer ad -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-2264916173854946"
			     data-ad-slot="1995109319"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>

		<div class="footer">
			<p class="disclaimer">You agree that the gif you submit does not violate any copyright rules</p>
			<p class="attribute">Dan Jamrozik / gif-project@2015  djamrozik96@gmail.com</p>
		</div>

	</div>

</body>
</html>