<!DOCTYPE html>
<html ng-app="PortfolioWebsite">
<head>

	<title>Dan Jamrozik</title>
	
	<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/styles/styles.css">
	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">

	<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

	<script src="/app/controllers/IndexCtrl.js"></script>
	<script src="/app/services/resources.js"></script>
	<script src="/app/directives/leftColumn.js"></script>
	<script src="/app/app.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-controller="IndexController as vm">

	<div class="container-fluid">
	    <div class="row">	    
		    <div class="col-md-2 left-column-container">

				<!-- angular directive serving as a template -->
				<left-column></left-column>

			</div>
			<div class="col-md-8 main-content-container">
				Some text here
			</div>
		</div>
	</div>

</body>
</html>

<!-- 

Current notes

	make the width of the column smaller? (too much free space when too side)


 -->