<!DOCTYPE html>
<html ng-app="PortfolioWebsite">
<head>

	<title>Dan Jamrozik</title>
	
	<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/styles/styles.css">

	<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>

	<script src="/app/controllers/IndexCtrl.js"></script>
	<script src="/app/services/resources.js"></script>
	<script src="/app/app.js"></script>

</head>
<body ng-controller="IndexController as vm">

	<div>

		<p>Homepage haiku</p></br>

		<p>This is the home page</p>
		<p>Not much content here right now</p>
		<p>A work in progress</p>

	</div>

</body>
</html>