<!DOCTYPE html>
<html ng-app="PortfolioWebsite">
<head>

	<title>Dan Jamrozik</title>
	
	<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/styles/styles.css">
	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">

	<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>

	<script src="/app/controllers/IndexCtrl.js"></script>
	<script src="/app/services/resources.js"></script>
	<script src="/app/directives/leftColumn.js"></script>
	<script src="/app/app.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-controller="IndexController as vm">

	<div class="container-fluid">
	    <div class="row">

		    <div class="left-column-container">

				<!-- angular directive serving as a template -->
				<left-column info="vm"></left-column>

			</div>

			<div class="col-md-8 main-content-container">
				
				<div class="main-page">

					<div class="main-info">
						<h3>Welcome to my page!</h3>
						<p>This is really the about me part of the page</p>
					</div>

					<div id="projects">

						<div class="header new-row">
							<h3>Projects</h3>
						</div>

						<div class="projects-list">
						
							<!-- repeats -->
							<div class="row project">
								
								<div class="col-md-6">
									<a href="samplecode.io">
										<span class="project-title">gif-project</span>
									</a>
									<div class="project-info">
										Some info about the project here.
										More info about how cool the project is
										Even more info
									</div>

									<div class="project-info" >
										<span class="project-tech">Technologies: </span>
										AngularJS, Django, SQLite 
									</div>

									<div class="project-info">
										<span class="project-tech">Github: </span>
										<a href="http://www.github.com/djamro2/samplecode">github.com/djamro2/samplecode</a>
									</div>
								</div>

								<div class="col-md-6">
									<div class="project-img">
										<img src="/images/gif-project1.png">
									</div>
								</div>

							</div>

						</div>

					</div>

					<div id="skills">
						<div class="header new-row">
							<h3>Frameworks and Languages</h3>
						</div>
						<div class="experience-bar">
							<!-- change font in experience bar? -->
							<img src="/images/experience-bar.png" />
						</div>
						<div class="frameworks-row">
							<img src="/images/nodejs-logo.png" class="img-circle">
							<img src="/images/nodejs-logo.png" class="img-circle">
						</div>
						<div class="languages-row">
							<img src="/images/js-logo.svg" class="img-circle">
							<img src="/images/js-logo.svg" class="img-circle">
							<img src="/images/js-logo.svg" class="img-circle">
						</div>
					</div>

					<div id="contact">

						<div class="header new-row">
							<h3>Contact</h3>
							<p class="contact-info">If you need to contact me for whatever purposes, please don't hesitate to send a message below (or send an email directly to <span>djamrozik96@gmail.com</span>). Thanks!</p>
						</div>
						
						<div class="contact-form">
							
							<form ng-submit="vm.submit(vm.message)">
							    <div class="form-group">
							        <label for="inputEmail">Your Email Address</label>
							        <input type="email" ng-model="vm.message.email" class="form-control" id="inputEmail" placeholder="your email" required>
							    </div>
							   	<div class="form-group">
							        <label for="inputTopic">Message Topic</label>
							        <input type="text" class="form-control" ng-model="vm.message.topic" id="inputTopic" placeholder="message topic" required>
							    </div>
								<div class="form-group">
									<label for="textareaMessage">Message</label>
									<textarea class="form-control" ng-model="vm.message.message" id="textareaMessage" cols="30" rows="5" required></textarea>
								</div>
							    <button type="submit" class="btn btn-info">Send</button>
							</form>
						
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

</body>
</html>

<!-- 

Current notes/plans

Make all into one page
Put skills and experience together on the side bar

Projects first
Then skills/experience
Then contact

^Smooth scrolling with jQuery

Put controllers together

Maybe include some kind of graphic on the home page?
Other than that, the basics should all be there and 
look decent

 -->