
<div>

    <div id="projects">

        <div class="header no-border-top">
            <h3>Image Resize Idea</h3>
        </div>

        <div class="projects-list">

            <div class="projects-list-left">

                <div class="project-item expand-to-bottom-right" id="project-1">
                    <img src="/images/sample_1.jpg" class="img img-project">
                    <div class="black-overlay"></div>
                    <div class="text-overlay">
                        <p class="text-overlay-title">
                            <a class="no-link-style" href="http://www.gifmage.com" target="_blank">Item 1</a>
                        </p>
                        <p class="text-overlay-description">
                            Description about item 1
                        </p>
                    </div>
                    <img src="/images/sample_1.jpg" class="img-hidden">
                </div>

                <div class="project-item expand-to-top-right" id="project-2">
                    <img src="/images/sample_2.jpg" class="img img-project">
                    <div class="black-overlay"></div>
                    <div class="text-overlay">
                        <p class="flex"></p>
                        <p class="text-overlay-title">
                            <a class="no-link-style" href="http://pacesocial.com" target="_blank">Item 3</a>
                        </p>
                        <p class="text-overlay-description">
                            Description about item 3
                        </p>
                    </div>
                    <!-- this image provides sizing info for the container -->
                    <img src="/images/sample_2.jpg" class="img-hidden">
                </div>

            </div>

            <div class="projects-list-right">

                <div class="project-item expand-to-bottom-left" id="project-3">
                    <img src="/images/sample_3.jpg" class="img img-project">
                    <div class="black-overlay"></div>
                    <div class="text-overlay text-overlay-right">
                        <p class="text-overlay-title">
                            Item 2
                        </p>
                        <p class="text-overlay-description">
                            Description about item 2
                        </p>
                    </div>
                    <img src="/images/sample_3.jpg" class="img-hidden">
                </div>

                <div class="project-item expand-to-top-left" id="project-4">
                    <img src="/images/sample_4.jpg" class="img img-project">
                    <div class="black-overlay"></div>
                    <div class="text-overlay text-overlay-right">
                        <p class="flex"></p>
                        <p class="text-overlay-title">
                            <a class="no-link-style" href="http://www.kaushalproperties.com" target="_blank">Item 4</a>
                        </p>
                        <p class="text-overlay-description">
                            Description about item 4
                        </p>
                    </div>
                    <img src="/images/sample_4.jpg" class="img-hidden">
                </div>

            </div>

        </div>

        <p>
            Images credit to Nikon <a href="http://imaging.nikon.com/lineup/dslr/d600/sample.htm">sample images</a>
        </p>

    </div>

</div>