html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
.flex {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.img-hidden {
  opacity: 0;
}
.no-link-style {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.no-link-style:hover {
  color: inherit;
  text-decoration: none;
}
.no-link-style:visited {
  color: inherit;
  text-decoration: none;
}
.no-link-style:active {
  color: inherit;
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
#compare {
  margin: auto;
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}
#large-image {
  position: fixed;
  display: none;
  /* flex when activated */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
#large-image img {
  position: absolute;
  max-height: 75%;
  border: 1px solid black;
}
.blog-content-wrapper {
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}
.blog-content-wrapper .blog-content .pre-code-example {
  margin: 1rem 0;
  text-align: left;
}
.blog-content-wrapper .blog-timestamp {
  text-align: right;
  padding-bottom: 1.5rem;
}
.blog-list .blog-item-preview {
  padding-top: 2rem;
}
.blog-list .blog-item-preview .blog-item-preview-title {
  font-weight: 700;
  font-size: 2.5rem;
}
.blog-list .blog-item-preview .blog-item-preview-timestamp {
  padding-bottom: 1rem;
}
.collapse-navbar {
  width: 100%;
  background-color: #444;
  margin-top: -40px;
  /* hide at first */
  display: none;
  height: 0;
  line-height: 40px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}
.collapse-navbar .collapse-navbar-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}
.collapse-navbar .collapse-navbar-top .navbar-my-name {
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  margin-left: 2rem;
}
.collapse-navbar .collapse-navbar-top .navbar-expand {
  padding-right: 2rem;
  color: white;
  cursor: pointer;
}
.collapse-navbar .collapse-navbar-more {
  background-color: #444;
  display: none;
  z-index: -1;
}
.collapse-navbar .collapse-navbar-more .navbar-more-list {
  color: white;
  list-style-type: none;
  padding-bottom: 0.6rem;
}
.collapse-navbar .collapse-navbar-more .navbar-more-list li {
  cursor: pointer;
}
.contact-form {
  margin-top: 3rem;
  padding-bottom: 4rem;
}
.contact-form input,
.contact-form textarea {
  padding: 6px;
}
.contact-form button[type="submit"] {
  margin-top: 2rem;
  width: 75px;
}
.contact-form .button-container {
  text-align: right;
}
.header {
  padding-top: 2rem;
  border-top: 1px solid #777;
}
.header h1 {
  margin-top: 0;
  font-size: 5.5rem;
  margin-left: -3px;
}
.header h3 {
  margin-top: 0;
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 1.3px;
}
.header span {
  font-weight: 700;
}
.header .contact-info {
  margin-top: 3rem;
  line-height: 30px;
}
.input-wrapper {
  margin: auto;
  max-width: 600px;
  text-align: center;
}
.input-wrapper .input-box {
  text-align: left;
  padding: 20px 0;
}
.input-wrapper .input-box .panel-row {
  margin-bottom: 15px;
}
.input-wrapper .input-box .panel-row.button-row {
  text-align: center;
}
.input-wrapper .input-box input[type="text"] {
  width: 60px;
}
.left-column-container {
  height: 100vh;
  background-color: #444;
  color: white;
  text-align: center;
  position: fixed;
  padding-right: 0!important;
  padding-left: 0!important;
  width: 200px;
  left: -200px;
  /* hide at first */
  /*make height the same dynamically*/
}
.left-column-container .name {
  margin-top: 20px;
  font-size: 1.7em;
  letter-spacing: .85px;
}
.left-column-container .name-info {
  color: lightblue;
}
.left-column-container .column-links {
  text-align: left;
  margin-top: 40px;
}
.left-column-container .column-links li {
  padding: 1rem 0 1rem .5rem;
  list-style-type: none;
  margin-left: -1.5rem;
  letter-spacing: 1.1px;
}
.left-column-container .column-links li:hover {
  background-color: black;
  cursor: pointer;
}
.left-column-container .column-links a {
  text-decoration: none;
  color: white;
}
.left-column-container .icons-container {
  max-height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.left-column-container .icons-container i {
  margin: 1rem;
  color: white;
}
.left-column-container .icons-container i:hover {
  cursor: pointer;
}
.left-column-container .image-container {
  display: inline-block;
  position: relative;
  width: 50%;
  margin-top: 2rem;
}
.left-column-container .image-container:after {
  content: '';
  display: block;
  margin-top: 100%;
}
.left-column-container .image-container .image-left-col {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.left-column-container .image-container .image-left-col .img-circle {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-content-container {
  padding-top: 0!important;
  padding-left: 3.5rem!important;
  padding-right: 3.5rem!important;
  max-width: 800px;
}
.main-content-container-full {
  padding-top: 0!important;
  padding-left: 1.5rem!important;
  padding-right: 3.5rem!important;
}
.main-page .main-info {
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}
.main-page .main-info .main-info-first-text {
  padding-top: 10px;
}
.main-page .main-info .welcome-text {
  font-weight: 700;
  font-size: 3rem;
}
.main-page .main-info .banner-text {
  font-size: 1.6rem;
}
.main-page .main-info .main-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}
.main-page .main-info .main-banner img {
  width: 160px;
  height: 160px;
  border: 1px solid #999;
}
.main-page .main-info .main-banner .main-quote {
  text-align: center;
  padding-top: 2rem;
  font-weight: 700;
  font-size: 2rem;
  max-width: 400px;
}
.main-page .main-info .main-banner .main-title {
  padding-top: 3rem;
}
.main-page .main-info .main-banner .main-subtitle {
  padding-top: .5rem;
}
.new-row {
  margin-top: 30px;
}
.photography {
  padding-top: 25px;
}
.photography .album {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.photography .album .photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
  margin: 0 15px;
  cursor: pointer;
}
.photography .album .photo img {
  height: 350px;
  width: auto;
}
.photography .album .photo .caption {
  position: absolute;
  top: 355px;
  text-align: center;
  width: 100%;
}
.photography .album-title {
  font-weight: 600;
  font-size: 1.85rem;
  padding-bottom: 20px;
  margin-left: 15px;
}
.photography .ending-note {
  margin-left: 15px;
}
#projects .header {
  padding-bottom: 15px;
}
#projects .no-border-top {
  border-top: none!important;
}
#projects .projects-list-short .projects-list-short-item .description {
  padding-bottom: 1rem;
}
#projects .projects-list-short .projects-list-short-item .title {
  font-weight: 600;
}
#projects .projects-list-short .projects-list-short-item .title a:hover {
  text-decoration: none;
}
#projects .projects-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Catamaran', sans-serif;
}
#projects .projects-list .projects-list-left {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 7px;
}
#projects .projects-list .projects-list-right {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 7px;
}
#projects .projects-list .project-item {
  margin-bottom: 14px;
  position: relative;
  width: 100%;
}
#projects .projects-list .project-item .img-project {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: inherit;
  border: 1px solid #444;
  -webkit-filter: blur(5%);
  filter: blur(5%);
}
#projects .projects-list .project-item .img-hidden {
  width: inherit;
}
#projects .projects-list .project-item .black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: .85;
}
#projects .projects-list .project-item .text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
}
#projects .projects-list .project-item .text-overlay-right {
  text-align: right;
}
#projects .projects-list .project-item .text-overlay-title {
  font-weight: 700;
  font-size: 2.0rem;
  padding-bottom: 0.5rem;
}
#projects .project {
  margin-bottom: 1em;
  padding-top: 15px;
  border: 1px solid lightgrey;
  margin-left: 0;
  margin-right: 1rem;
}
#projects .project a {
  text-decoration: none;
}
#projects .project .project-info {
  margin-top: 1.3rem;
}
#projects .project .project-img {
  text-align: center;
  margin-top: 15px;
}
#projects .project .project-img img {
  height: 150px;
  width: 300px;
}
#projects .project .project-img .site-link {
  padding-top: 10px;
}
#projects .project .project-tech {
  font-weight: 700;
}
#projects .project .project-source {
  font-weight: 700;
  padding-top: 0.8rem;
  display: inline-block;
}
#projects .project .project-title {
  font-size: 1.8em;
  font-weight: 400;
  color: black;
}
#projects .project .project-title:hover {
  color: #555;
}
#skills .experience-bar {
  padding: 20px 0;
  position: relative;
}
#skills .experience-bar img {
  width: 100%;
  height: 40px;
}
#skills .experience-bar .experience-text {
  position: absolute;
  font-weight: 700;
  font-size: 1.1em;
  top: 17%;
  left: 5.5%;
}
#skills .skills-info {
  margin: 20px 0;
}
#skills .frameworks-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
#skills .languages-row {
  margin-top: 20px;
}
#skills .languages-row img {
  margin: 0 4.75%;
}
#skills img {
  width: 50px;
  height: 50px;
}
.success-message {
  margin-top: 30px;
  font-weight: 600;
  font-size: 1.15em;
}
.success-message .success {
  color: #0020C2;
}
.success-message .error {
  color: red;
}
/* any changes less than 560 px */
@media (max-width: 560px) {
  .projects-list {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: column!important;
        -ms-flex-direction: column!important;
            flex-direction: column!important;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-list-left {
    padding-right: 0!important;
  }
  .projects-list-right {
    padding-left: 0!important;
  }
  .project-item {
    max-width: 360px;
  }
}
