
<!-- an example of an outer layout (from the github page of express handlebars) -->

<!DOCTYPE html>
<html>
<head>
    <!-- some global resources here -->
    <title>Example App</title>
</head>
<body>

	<!-- This is where the template is loaded in -->
    {{{body}}}

</body>
</html>