
<!-- the home template, can take in data from express render function -->

<div>

	<h3>This is the home page rendered within the 'main' layout</h3>

	<p>The current year is {{year}}</p>
	<p>Layouts are useful for reusing code and having one change affect multiple pages</p>
	<p>Templates are useful for (again) reusing code and having to only pass in data to html. Easy to create dynamic content.</p>

</div>