<!DOCTYPE html>
<html ng-app="PortfolioWebsite">
<head>

	<title>Projects</title>
	
	<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/styles/styles.css">
	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">

	<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

	<script src="/app/controllers/IndexCtrl.js"></script>
	<script src="/app/services/resources.js"></script>
	<script src="/app/directives/leftColumn.js"></script>
	<script src="/app/app.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-controller="IndexController as vm">

	<div class="container-fluid">
	    <div class="row">	    
		    <div class="col-md-2 left-column-container">

				<!-- angular directive serving as a template -->
				<left-column></left-column>

			</div>
			<div class="col-md-8 main-content-container">
				
				<div class="projects">
					
					<div class="header">
						
						<h1>Projects</h1>
						
					</div>

					<div class="projects-list">
						
						<!-- repeats -->
						<div class="row project">
							
							<div class="col-md-6">
								<a href="samplecode.io">
									<span class="project-title">gif-project</span>
								</a>
								<div class="project-info">
									Some info about the project here.
									More info about how cool the project is
									Even more info
								</div>

								<div class="project-info" >
									<span class="project-tech">Technologies: </span>
									AngularJS, Django, SQLite 
								</div>

								<div class="project-info">
									<span class="project-tech">Github: </span>
									<a href="http://www.github.com/djamro2/samplecode">github.com/djamro2/samplecode</a>
								</div>
							</div>

							<div class="col-md-6">
								<div class="project-img">
									<img src="/images/gif-project1.png">
								</div>
							</div>

						</div>

					</div>
				
				</div>
			</div>
		</div>
	</div>

</body>
</html>